{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description"
        content="GUHA Homestay offers a serene and comfortable accommodation experience with a range of facilities for a perfect getaway.">
    <meta name="keywords" content="GUHA Homestay, accommodation, vacation, travel, services, facilities, reviews">
    <meta name="author" content="alchemist">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <title>GUHA</title>
    <style>
        .loading_section {
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            position: fixed;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            z-index: 101;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loading_section .loader {
            width: 50px;
            aspect-ratio: 1;
            --c: linear-gradient(#bbb 0 0);
            --m: radial-gradient(farthest-side, #bbb 92%, #0000);
            background:
                var(--c), var(--m),
                var(--c), var(--m),
                var(--c), var(--m);
            background-size: 8px 12px, 8px 8px;
            background-repeat: no-repeat;
            animation: load_an 1.5s infinite linear alternate;
        }

        @keyframes load_an {

            0%,
            5% {
                background-position: 0 50%, 0 0, 50% 50%, 50% 0, 100% 50%, 100% 0;
            }

            16.67% {
                background-position: 0 50%, 0 calc(50% - 10px), 50% 50%, 50% 0, 100% 50%, 100% 0
            }

            33.33% {
                background-position: 0 calc(50% + 10px), 0 50%, 50% 50%, 50% 0, 100% 50%, 100% 0
            }

            50% {
                background-position: 0 calc(50% + 10px), 0 50%, 50% 50%, 50% calc(50% - 10px), 100% 50%, 100% 0
            }

            66.67% {
                background-position: 0 calc(50% + 10px), 0 50%, 50% calc(50% + 10px), 50% 50%, 100% 50%, 100% 0
            }

            83.33% {
                background-position: 0 calc(50% + 10px), 0 50%, 50% calc(50% + 10px), 50% 50%, 100% 50%, 100% calc(50% - 10px)
            }

            95%,
            100% {
                background-position: 0 calc(50% + 10px), 0 50%, 50% calc(50% + 10px), 50% 50%, 100% calc(50% + 10px), 100% 50%
            }
        }

        .loader_text {
            width: fit-content;
            font-size: 40px;
            line-height: 1.5;
            font-family: system-ui, sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            color: #0000;
            -webkit-text-stroke: 1px #fff;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- <link rel="stylesheet" href="./css/index.css"> -->
</head>


<body>



    <!-- loading section start -->
    <section class="loading_section">
        <div class="loader"></div>
        <div class="loader_text">Loading....</div>
    </section>
    <!-- loading section end -->










    <!-- guha logo start -->
    <div class="logo_holder">
        <img src="{% static 'img/G.png' %}" alt="guha" class="logo">
    </div>
    <!-- guha logo end -->












    <!-- navigation start-->
    <section class="navigation_section">
        <div class="section_container">
            <div class="container grow_here">
            </div>
        </div>
    </section>
    <!-- navigation end -->















    <!-- intro start -->
    <section class="intro_section_0 scroll_section">
        <div class="see_through">
            <picture>
                <source media="(max-width: 700px)" srcset="{% static 'img/see_through_mobile.svg' %}">
                <img src="{% static 'img/see_through.svg' %}" alt="">
            </picture>
        </div>
    </section>

    <section class="intro_section scroll_section" id="home">
        <div class="section_container">
            <div class="container">
                <div class="container_1">
                    <p class="headding grow_here">GUHA <span>homestay</span></p>
                    <p class="sub_headdng grow_here">.</p>
                </div>
                <div class="container_0 grow_here">
                    <ul>
                        <li><a class="item mob_hide_item hme" href="#home">Home</a></li>
                        <li><a class="item mob_hide_item abt" href="#about">About</a></li>
                        <li><a class="item mob_hide_item fclt" href="#services">Facilities</a></li>
                        <li><a class="item mob_hide_item glry" href="#gallery">Gallery</a></li>
                        <li><a class="item mob_hide_item fqs" href="#faq">Faq</a></li>
                        <li><a class="item mob_hide_item rvw" href="#review">Reviews</a></li>
                        <li><a class="item mob_hide_item cntct" href="#contact">Contact us</a></li>
                        <li><a class="item menu" href="#popup"><i class="bi bi-list"></i></a></li>
                    </ul>
                </div>
                <div class="container_2">
                    {% if property %}
                    <h2>our properties</h2>
                    {% for prop in property %}
                    <a class="prop_card" href="property/{{prop.id}}">
                        <span>{{prop.name}}</span>
                        <i class="bi bi-chevron-compact-right"></i>
                    </a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- intro end -->














    <!-- about start -->
    <section class="about_section scroll_section" id="about">
        <div class="section_container">
            <h1 class="secton_headding">What <span class="highlight">we</span> do</h1>
            <div class="container">
                {% if about %}
                {% if about.thumbnail %}
                <div class="img_holder">
                    <img src="media/{{about.thumbnail}}" alt="" class="about_home_svg">
                </div>
                {% endif %}
                <div class="content_holder">
                    {% if about.title %}
                    <p><b class=" title">{{about.title}}</b></p>
                    {% endif %}
                    <p class="feature_content">
                        {{about.content}}
                    </p>
                </div>
                {% endif %}
            </div>

        </div>
    </section>
    <!-- about end -->













    <!-- facilities start-->
    <section class="facility_section scroll_section" id="services">

        <section class="hero">
            <h1>We Know what <span class="highlight">YOU</span> want.</h1>
            <p>A calm place for a cool day.</p>
        </section>

        <section class="services">
            <h2>Our services</h2>
            {% if services %}
            <div class="card_holder">
                <div class="sub_holder">
                    {% for service in services %}
                    <div class="card">
                        <img src="media/{{service.thumbnail}}" alt="">
                        <div class="info">
                            <h3>{{service.title}}</h3>
                            <span>{{service.description}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </section>

    </section>
    <!-- facilities end -->












    <!-- galary start -->
    <section class="galary_section scroll_section" id="gallery">
        <div class="item_holder">
            <div class="fl_item" not_img="1">
                <div class="headding">
                    <div>
                        <h1>Explore the <span class="highlight">beauty</span></h1>
                        <p>only for you</p>
                    </div>
                    <i class="bi bi-chevron-compact-right"></i>
                </div>
            </div>



            {% if galary %}
            {% for media in galary %}
            <div class="item">
                {% if media.file_type == 'video' %}
                <video style="z-index: 100;" src="media/{{ media.img }}" controls autoplay muted loading="lazy"></video>
                {% else %}
                <img src="media/{{ media.img }}" alt="" loading="lazy">
                {% endif %}
                <div class="headding">
                    {% if media.title %} <h1>{{media.title}}</h1> {% endif %}
                    {% if media.description %} <p>{{media.description}}</p> {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}

            <div class="fl_item" not_img="1">
                <div class="headding">
                    <p>Thats it..</p>
                    <i class="bi bi-chevron-compact-down"></i>
                </div>
            </div>
        </div>
    </section>
    <!-- galary end -->


    <!-- faq start -->
    <section class="faq_section scroll_section" id="faq">
        <div class="container">

            <h1>How can we <span class="highlight">help</span> you?</h1>
            <form class="search-bar" id="faqForm">
                {% csrf_token %}
                <input id="question" name="question" type="text" placeholder="Ask your questions here.">
                <button type="submit">ask</button>
            </form>

            {% if faq %}
            <div class="options-grid">
                {% for key, faqs in faq.items %}
                <div class="option-card">
                    <img src="media/{{faqs.thumbnail}}" alt="{{key}}_image">
                    <p>{{key}}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>

    </section>
    <!-- faq end -->













    <!-- reviews start -->
    <section class="review_section scroll_section" id="review">
        <div class="container">
            <div class="review-header">
                <h1>What <span class="highlight">people</span> say</h1>
                <p>Discover what our satisfied customers have to say about their experiences with our
                    service.
                </p>
            </div>
            <div class="review-cards">
                <div class="row">
                    <div class="card">
                        <h3>write a review</h3>
                        <form id="reviewForm">
                            {% csrf_token %}
                            <input type="text" id="user_name" name="user_name" placeholder="Your name" required>
                            <textarea id="review_content" name="review_content" placeholder="Write your review"
                                required></textarea>
                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    {% if review %}
                    {% for card in review %}
                    <div class="card">
                        <img src="{% static 'img/user.png' %}" alt="{{card.user_name}}dp">
                        <div class="card-body">
                            <h3>{{card.user_name}}</h3>
                            <p class="review-content">{{card.content}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
    <!-- reviews end -->













    <!-- contact start-->
    <section class="contact_section scroll_section" id="contact">
        <div class="container">
            <div class="header">
                <h1>Feel <span class="highlight">FREE</span> to get in <span class="highlight">TOUCH</span> </h1>
                <h1 class="mob_h1">Feel <span class="highlight">FREE</span> <br> to get in <span
                        class="highlight">TOUCH</span> </h1>
            </div>

            <div class="phone">
                <div class="app-grid">
                    {% if contact %}
                    {% for app, data in contact.items %}
                    {% if app == "phone" %}
                    <div class="app call_app">
                        <div>
                            <img src="media/{{data.icon}}" alt="Mail">
                            <p>{{app}}</p>
                        </div>
                    </div>
                    {% elif app == "map"%}
                    <div class="app map_app">
                        <div>
                            <img src="media/{{data.icon}}" alt="Mail">
                            <p>{{app}}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="app">
                        <a href="{{data.link.link}}" target="_blank">
                            <img src="media/{{data.icon}}" alt="Mail">
                            <p>{{app}}</p>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- contact end -->














    <!-- footer start -->
    <footer class="footer_section scroll_section">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{% static 'img/G.png' %}" alt="Untitled UI Logo">
                <p>guha homestays</p>
            </div>
            <div class="footer-links">
                <div class="footer-column">
                    <a href="#home">home</a>
                    <a href="#about">about us</a>
                    <a href="#services">facilities</a>
                    <a href="#">our locations</a>
                    <a href="#contact">contact us</a>
                </div>
                <div class="footer-column">
                    <a href="#gallery">galary</a>
                    <a href="#about">about site</a>
                    <a class="admin_link" href="/admin/">admin</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>guha homestays</p>
            <p>a step forward for your day</p>
            <p>&copy; 2024 guhahospitality.com All rights reserved.</p>
        </div>
    </footer>
    <!-- footer end -->













    <!-- popup section start -->
    <div class="popup_data_holder">
        <div class="nav_data_holder">
            <div class="nav_holder">
                <a class="nav_item" href="#home">Home</a>
                <a class="nav_item" href="#about">About</a>
                <a class="nav_item" href="#services">Facilities</a>
                <a class="nav_item" href="#gallery">Gallery</a>
                <a class="nav_item" href="#faq">Faq</a>
                <a class="nav_item" href="#review">Reviews</a>
                <a class="nav_item" href="#contact">Contact us</a>
            </div>
        </div>

        <div class="faq_data_holder">
            <div class="faq_holder">
                <div class="faq_type_headding">payment</div>
                <div class="qa">
                    <strong class="q">question goes here</strong>
                    <p class="p">answer goes here</p>
                </div>
            </div>
        </div>

        <div class="contact_call_data_holder">
            <div class="contact_holder">
                <div class="icon">
                    <img src="/static/img/mobile.png" alt="">
                </div>
                {% if phone_map_contact.phone %}
                {% for number in phone_map_contact.phone %}
                <div class="contact_card">
                    <a href="tel:+{{number.link}}">{{number.link}}</a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="contact_map_data_holder">
            <div class="contact_holder">
                <div class="icon">
                    <img src="/static/img/google-maps.png" alt="">
                </div>
                {% if phone_map_contact.map %}
                {% for map in phone_map_contact.map %}
                <div class="contact_card">
                    <a href="{{map.link}}">{{map.property.name}}</a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
    <section class="popup_section" id="popup">
        <div class="popup_holder">
            <!-- conent is inserted here -->
        </div>
    </section>
    <!-- popup section end -->











    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
    <script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <!-- <script src="./js/index.js"></script> -->
</body>

</html>