{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | GUHA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="nav_anim_button"></div>









    <!-- loading section start -->
    <section class="loading_holder">
        <p class="loading">GUHA</p>
    </section>
    <!-- loading section end -->









    <!-- navigation start-->
    <section class="navigation_section">
        <div class="section_container">
            <div class="container grow_here">
            </div>
        </div>
    </section>
    <!-- navigation end -->










    <!-- intro start -->
    <section class="intro_section scroll_section">
        <div class="section_container">
            <div class="container">
                <div class="see_through">
                    <picture>
                        <source media="(max-width: 700px)" srcset="./img/see_through_mobile.svg">
                        <img src="{% static 'img/see_through.svg' %}" alt="">
                    </picture>
                </div>
                <div class="container_1">
                    <p class="headding grow_here">Guha Home Stay</p>
                    <p class="sub_headdng grow_here">.</p>
                </div>
                <div class="container_0 grow_here">
                    <ul>
                        <li><a class="item" href="#"> <i class="home_icon"></i> Home</a></li>
                        <li><a class="item" href="#"> <i class="about_icon"></i> About</a></li>
                        <li><a class="item" href="#"> <i class="facilities_icon"></i> Facilities</a></li>
                        <li><a class="item" href="#"> <i class="galary_icon"></i> Galary</a></li>
                        <li><a class="item" href="#"> <i class="reviews_icon"></i> Reviews</a></li>
                        <li><a class="item" href="#"> <i class="contact_icon"></i> Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- intro end -->










    <!-- about start -->
    <section class="about_section scroll_section">
        <div class="section_container">
            <h1 class="secton_headding">What <span class="highlight">we</span> do</h1>
            <div class="container">
                {% if about %}
                {% if about.thumbnail %}
                <div class="img_holder">
                    <img src="media/{{about.thumbnail}}" alt="" class="about_home_svg">
                </div>
                {% endif %}
                <div class="content_holder">
                    <p class="feature_content">
                        {% if about.title %}
                        <b>{{about.title}}</b>
                        {% endif %}{{about.content}}
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- about end -->










    <!-- facilities start-->
    <section class="facility_section scroll_section">
        <section class="hero">
            <h1>We Know what <span class="highlight">YOU</span> want.</h1>
            <p>A calm place for a cool day.</p>
        </section>

        <section class="services">
            <h2>Our services</h2>
            {% if services %}
            <div class="card_holder">
                {% for service in services %}
                {% if forloop.counter|divisibleby:"5" or forloop.counter == 1 %}<div class="sub">{% endif %}

                    <div class="card">
                        <img src="media/{{service.thumbnail}}" alt="">
                        <div class="info">
                            <h3>{{service.title}}</h3>
                            <span>{{service.description}}</span>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:"5" or forloop.counter == 0 %}
                </div>{% endif %}
                {% endfor %}
            </div>
            {% endif %}

        </section>
    </section>
    <!-- facilities end -->











    <!-- galary start -->
    <section class="galary_section scroll_section">
        <div class="item_holder">
            <div class="item">
                <div class="headding">
                    <h1>Explore the <span class="highlight">beauty</span></h1>
                    <p>only meant for you</p>
                    <p>scroll ></p>
                </div>
            </div>
            {% if galary %}
            {% for image in galary %}
            <div class="item">
                <img src=" media/{{ image.img }}" alt="">
                <div class="headding">
                    {% if forloop.counter == 1 %}
                    <h1>Explore the <span class="highlight">beauty</span></h1>
                    <p>perfectly maintained for you</p>
                    {% elif image.title or image.description %}
                    {% if image.title %}
                    <h1>{{image.title}}</h1>
                    {% else %}
                    <p>{{image.description}}</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}

            <div class="item">
                <div class="headding">
                    <p> scroll down <br> V</p>
                </div>
            </div>
        </div>
    </section>
    <!-- galary end -->










    <!-- faq start -->
    <section class="faq_section scroll_section">
        <div class="container">

            <h1>How can we <span class="highlight">help</span> you?</h1>
            <div class="search-bar">
                <input type="text" placeholder="is this couple friendly?">
                <button>Search</button>
            </div>

            {% if faq %}
            <div class="options-grid">
                {% for key, faqs in faq.items %}
                <div class="option-card">
                    <img src="media/{{faqs.thumbnail}}" alt="{{key}}_image">
                    <p>{{key}}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    </section>
    <!-- faq end -->











    <!-- reviews start -->
    <section class="review_section scroll_section">
        <div class="container">
            <div class="review-header">
                <h1>What <span class="highlight">people</span> say</h1>
                <p>Discover what our satisfied customers have to say about their experiences with our
                    service.
                </p>
            </div>
            <div class="review-cards">
                <div class="row">
                    {% if review %}
                    {% for card in review %}
                    <div class="card">
                        <img src="{% static 'img/user.png' %}" alt="Sarah Johnson">
                        <div class="card-body">
                            <h3>{{card.user_name}}</h3>
                            <p class="review-content">{{card.content}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}


                </div>
            </div>
        </div>
    </section>
    <!-- reviews end -->









    <!-- contact start-->
    <section class="contact_section scroll_section">
        <div class="container">
            <div class="header">
                <h1>Feel <span class="highlight">FREE</span> to get in <span class="highlight">TOUCH</span> </h1>
                <h1 class="mob_h1">Feel <span class="highlight">FREE</span> <br> to get in <span
                        class="highlight">TOUCH</span> </h1>
            </div>
            <div class="phone">
                <div class="app-grid">
                    {% if contact %}
                    {% for app, data in contact.items %}
                    <div class="app ">
                        {% if app == "phone" %}
                        <a href="tel:+{{data.link}}" target="_blank">
                            {% elif app == "mail"%}
                            <a href="mailto:{{data.link}}" target="_blank">
                                {% else %}
                                <a href="{{data.link}}" target="_blank">
                                    {% endif %}
                                    <!-- {% for l in data.sub_contacts %}
                                    <span>{{l.link}}</span>
                                    {% endfor %} -->
                                    <img src="media/{{data.icon}}" alt="Mail">
                                    <p>{{app}}</p>
                                </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- contact end -->











    <!-- footer start -->
    <footer class="footer_section scroll_section">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{% static 'img/sun.png' %}" alt="Untitled UI Logo">
                <p>guha homestay</p>
            </div>

            <div class="footer-links">
                <div class="footer-column">
                    <a href="#">home</a>
                    <a href="#">about us</a>
                    <a href="#">facilities</a>
                    <a href="#">our locations</a>
                    <a href="#">contact us</a>
                </div>
                <div class="footer-column">
                    <a href="#">galary</a>
                    <a href="#">about site</a>
                    <a href="#">social media</a>
                    <a href="#">mail</a>
                    <a href="#">map</a>
                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <p>guha homestays</p>
            <p>a step forward for your day</p>
            <p>&copy; 2024 guhahospitality.com All rights reserved.</p>
        </div>
    </footer>
    <!-- footer end -->










    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Flip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
    <script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>